## User settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

## Build artifacts
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

## Swift Package Manager
.build/
.swiftpm/

## CocoaPods
Pods/

## Carthage
Carthage/Build/
Carthage/Checkouts/

## Archives
*.xcarchive

## Logs
*.log

## Temporary / swap
*.swp
*.orig

## Secrets
Secrets.xcconfig

## Xcode debugger
*.xcdebugger
